:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

fieldset {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
legend {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}
.color-container {
  width: 200px;
  height: 200px;
  background-color: black;
}

input[type="text"],
input[type="button"] {
  width: 50px;
  height: 50px;
  font-size: 40px;
}

.rangecontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
